body {
    background-color: rgb(225, 228, 235);
    min-height: 75rem;
    padding-top: 4.5rem;
}

.container {
    width: 100%;
    margin-bottom: 2em;
}

.navbar-brand {}

.addBtn {
    z-index: 2;
    position: fixed;
    left: 1em;
}

.addBtn:hover {
    cursor: pointer;
}

.addBtn:focus {
    outline: none;
}

.upBtn {
    z-index: 2;
    position: fixed;
    right: 1.5em;
    bottom: 1.5em;
    transform: scale(1.25);
}

.upBtn:hover {
    cursor: pointer;
}

.upBtn:focus {
    outline: none;
}

.cardC {
    margin-top: 4em;
}

.cardD {
    margin-top : 0;
}

.card-columns {
    margin: -0.5em;
}

.Content {
    white-space: pre-line;
}

@media (max-width: 576px) {
    .upBtn {
        right: 1em;
        bottom: 1em;
    }
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}

#inputContent {
    resize: none;
    height: 8rem;
}

.filebox label {
    display: inline-block;
    padding: .5em .75em;
    color: #fdfdfd;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #5cb85c;
    cursor: pointer;
    border: 1px solid #5cb85c;
    border-bottom-color: #5cb85c;
    border-radius: .25em;
    margin-top: 8px;
}

.filebox input[type="file"] {
    /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
